
*.vsidx
*.lock
build/.vs/build/v17/.wsuo
*.db
*.json
*.db-shm
*.db-wal
*.opendb
*.sqlite
*.cmake
*.rule
*.bin
*.exe
*.recipe
*.tlog
build/CMakeFiles/3.25.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.check_cache
*.log
*.stamp
*.depend
*.list
*.pdb
*.ilk
src/.vs/hw3/v17/.suo
src/CMakeCache.txt
build/CMakeCache.txt
build/CMakeFiles/3.25.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.25.1/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/TargetDirectories.txt
build/render.dir/Debug/argparser.obj
build/render.dir/Debug/camera.obj
build/render.dir/Debug/cylinder_ring.obj
build/render.dir/Debug/edge.obj
build/render.dir/Debug/face.obj
build/render.dir/Debug/image.obj
build/render.dir/Debug/kdtree.obj
build/render.dir/Debug/main.obj
build/render.dir/Debug/matrix.obj
build/render.dir/Debug/material.obj
build/render.dir/Debug/mesh.obj
build/render.dir/Debug/meshdata.obj
build/render.dir/Debug/OpenGLCanvas.obj
build/render.dir/Debug/OpenGLRenderer.obj
build/render.dir/Debug/photon_mapping.obj
build/render.dir/Debug/radiosity.obj
build/render.dir/Debug/raytracer.obj
build/render.dir/Debug/raytree.obj
build/render.dir/Debug/sphere.obj
build/render.dir/Debug/utils.obj
build/CMakeFiles/3.25.1/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.25.1/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.25.1/VCTargetsPath.txt
build/CMakeFiles/3.25.1/VCTargetsPath.vcxproj
src/CMakeCache.txt
